@{
    ViewData["Title"] = "About";
}
<h2>Par mums</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>
                LETA ir nacionālā informācijas aģentūra, kas rada uzticamu saturu un sniedz individualizētus pakalpojumus profesionāliem informācijas lietotājiem.

                Mūsu galvenā vērtība ir pieredzējusī 150 darbinieku komanda - redaktori, reportieri, reģionālie korespondenti, tulki, fotogrāfi, video operatori, informācijas analītiķi un daudzi citi. LETA ik dienu rūpējas par to, lai pārbaudītu un no milzīgās informācijas plūsmas atlasītu un piegādātu klientiem nepieciešamo būtiskāko informāciju.

                LETA ir viena no inovatīvākajām mediju kompānijām Baltija un arī Eiropā, kas veikusi unikālas zinātniski - tehniskas izstrādes satura atlases, apstrādes un citu satura pakalpojumu attīstības jomā. Lai piedāvātu partneriem informāciju par notikumiem ārpus Latvijas robežām, LETA cieši sadarbojas ar aģentūru Baltic News Service Igaunijā un Lietuvā, kā arī ar Polijas ziņu aģentūru PAP, fotoziņu aģentūru SCANPIX un citām Eiropas un pasaules informācijas aģentūrām.

                LETA akciju turētāji ir Igaunijā reģistrēta investīciju grupa "Media Investments and Holdings".
            </p>
            <p>
                Lai uzzinātu vairāk par ziņu aģentūras LETA informatīvajiem risinājumiem, sūtiet savus jautājumus un komentārus uz e-pastu: marketing@leta.lv vai zvaniet Mārketinga nodaļai: 67222509.

                Sagatavojies rītdienai kopā ar LETA!
            </p>
            <p>
                LETA vēsture
                LETA ES fondu projekti
                LETA Vēstis
            </p>
        </div>
        <div id="map-container-google-2" class= "col-md-4 map-container">
            <iframe src="https://maps.google.com/maps?q=chicago&t=&z=13&ie=UTF8&iwloc=&output=embed" style="width: 100%" frameborder="0" allowfullscreen></iframe>
        </div>
        @*<div class="col-md-4">
            <img style="width:100%" src="https://zinas.nra.lv/_mm/photos/2015-08/860px/138771_eec09639fa.jpg"  />
        </div>*@
    </div>  
    
</div>

