@model UserModel
@{
    ViewData["Title"] = "SignUp";
}
@Html.ValidationSummary()
<h2>Sign Up</h2>
@* method- get ieliek ievadito linka, metode post neparada sos datus *@
<form class="form-horizontal" action="SignUp" method="post">
    <div class="form-group">
        @* label for aktivize ievadlauku pec id vertibas *@
        <label for="newEmail">Email address</label><br />
        <input asp-for="Email" class="form-control" id="inputEmail3" placeholder="Email" style="width:150px" />
    </div>
    <div class="form-group">
        <label for="newPassword">Password</label>
        <input asp-for="Password" class="form-control" id="newPassword" placeholder="Password" style="width:150px" />
    </div>
    <div class="form-group">
        <label for="repeatNewPassword">Repeat password</label>
        <input asp-for="PasswordRepeat" class="form-control" id="newPassword" placeholder="Password" style="width:150px" />

    </div>
    <button type="submit" class="btn btn-default" style="background-color:royalblue; color:white" name="submitSignup" id="submitSignup">Sign up</button>
</form>
